<a href="https://colab.research.google.com/github/Gopisetti9Bhargav/BhargavNaidu9/blob/main/Sql_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
!apt-get install sqlite3
!pip install pandas

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
Suggested packages:
  sqlite3-doc
The following NEW packages will be installed:
  sqlite3
0 upgraded, 1 newly installed, 0 to remove and 38 not upgraded.
Need to get 769 kB of archives.
After this operation, 1,874 kB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 sqlite3 amd64 3.37.2-2ubuntu0.5 [769 kB]
Fetched 769 kB in 1s (599 kB/s)
Selecting previously unselected package sqlite3.
(Reading database ... 126675 files and directories currently installed.)
Preparing to unpack .../sqlite3_3.37.2-2ubuntu0.5_amd64.deb ...
Unpacking sqlite3 (3.37.2-2ubuntu0.5) ...
Setting up sqlite3 (3.37.2-2ubuntu0.5) ...
Processing triggers for man-db (2.10.2-1) ...
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [4]:
import sqlite3
import pandas as pd
import os

In [6]:
conn=sqlite3.connect("my_database.db")

In [8]:
#Define the correct path for the database
db_path="/content/drive/MyDrive/my_database.db"

In [9]:
db_folder="/content/drive/MyDrive/SqlDB Folder"
os.makedirs(db_folder, exist_ok=True)  #check folder exist
db_path=os.path.join(db_folder, "my_database.db")
conn=sqlite3.connect(db_path)
cursor=conn.cursor()
print("Database connected at:", db_path)

Database connected at: /content/drive/MyDrive/SqlDB Folder/my_database.db

**Customer Table**

In [10]:
cursor.execute('''
CREATE TABLE BANK_CUSTOMER ( customer_id INT ,
             	customer_name VARCHAR(20),
             	Address 	VARCHAR(20),
             	state_code  VARCHAR(3) ,
             	Telephone   VARCHAR(10)	);

''')
conn.commit()

In [13]:
def insert_BANK_CUSTOMER(customer_id, customer_name, Address, state_code, Telephone):
  cursor.execute("INSERT INTO BANK_CUSTOMER(customer_id, customer_name, Address, state_code, Telephone) VALUES(?,?,?,?,?)",
                 (customer_id, customer_name, Address, state_code, Telephone))
  conn.commit()
# Insert
insert_BANK_CUSTOMER(123001,"Oliver", "225-5, Emeryville", "CA" , "1897614500")
insert_BANK_CUSTOMER(123002,"George", "194-6,New brighton","MN" , "1897617000")

In [17]:
insert_BANK_CUSTOMER(123003,"Harry", "2909-5,walnut creek","CA" , "1897617866");
insert_BANK_CUSTOMER(123004,"Jack", "229-5, Concord",  	"CA" , "1897627999");

In [14]:
pip install tabulate

Requirement already satisfied: tabulate in /usr/local/lib/python3.12/dist-packages (0.9.0)

In [18]:
from tabulate import tabulate
# Fetch data
cursor.execute("SELECT * FROM BANK_CUSTOMER")
rows=cursor.fetchall()

# Get column names
column_names=[desc[0] for desc in cursor.description]

# Print in tabular format
print(tabulate(rows, headers=column_names, tablefmt="grid"))

+---------------+-----------------+---------------------+--------------+-------------+
|   customer_id | customer_name   | Address             | state_code   |   Telephone |
+===============+=================+=====================+==============+=============+
|        123001 | Oliver          | 225-5, Emeryville   | CA           |  1897614500 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123002 | George          | 194-6,New brighton  | MN           |  1897617000 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123001 | Oliver          | 225-5, Emeryville   | CA           |  1897614500 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123002 | George          | 194-6,New brighton  | MN           |  1897617000 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123003 | Harry           | 2909-5,walnut creek | CA           |  1897617866 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123004 | Jack            | 229-5, Concord      | CA           |  1897627999 |
+---------------+-----------------+---------------------+--------------+-------------+